body{
    background-color: hsl(0, 0%, 95%);
}

#mySubmit{
    background-color: crimson;
    color: white;

}
form{
    text-align: center;
    background-color: hsl(0, 0%, 100%);
    max-width: 350px;
   margin: auto;
   padding: 15px;
   box-shadow: 2px 2px 10px;
   height: 400px;
   
   
}
h1{
    font-size: large;
    padding-bottom: 15px;

}
#textBox{
    font-size: 2rem;
    text-align: center;
    width: 150px;
}
